{
  "openapi": "3.1.0",
  "info": {
    "title": "API DO CHAT",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://sparks.chatpro.com.br"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/shortcuts/create": {
      "post": {
        "summary": "Create",
        "description": "Cria uma resposta rápida",
        "operationId": "shortcuts-create",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "tag_id",
                  "type"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "tag_id": {
                    "type": "string",
                    "description": "Tag de identificação da resposta rápida, ex.: mensagem_de_boas_vindas"
                  },
                  "type": {
                    "type": "string",
                    "description": "Os tipos disponíveis são: text, image, document e audio"
                  },
                  "text": {
                    "type": "string",
                    "description": "Texto que será enviado ao selecionar a resposta rápida, ex.: Bem vindo(a) ao chatPro!"
                  },
                  "desc": {
                    "type": "string",
                    "description": "Para o envio de imagens e documentos pode adicionar uma descrição que será enviada abaixo do arquivo"
                  },
                  "url": {
                    "type": "string",
                    "description": "Url da imagem, áudio ou documento"
                  },
                  "file_type": {
                    "type": "string",
                    "description": "Tipo do arquivo enviado, ex.: image"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/shortcuts/getShortcutById": {
      "post": {
        "summary": "Get shortcut by id",
        "description": "Busca uma resposta rápida pelo id",
        "operationId": "shortcuts-get-shortcut-by-id",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "shortcutId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "shortcutId": {
                    "type": "string",
                    "description": "Id da resposta rápida"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/shortcuts/list": {
      "post": {
        "summary": "List",
        "description": "Lista todas as resposta rápidas",
        "operationId": "shortcuts-list",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/shortcuts/update": {
      "post": {
        "summary": "Update",
        "description": "Atualiza uma resposta rápida",
        "operationId": "shortcuts-update",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "shortcutId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "shortcutId": {
                    "type": "string",
                    "description": "Id da resposta rápida"
                  },
                  "tag_id": {
                    "type": "string",
                    "description": "Tag de identificação da resposta rápida, ex.: mensagem_de_boas_vindas"
                  },
                  "type": {
                    "type": "string",
                    "description": "Os tipos disponíveis são: text, image, document e audio"
                  },
                  "text": {
                    "type": "string",
                    "description": "Texto que será enviado ao selecionar a resposta rápida, ex.: Bem vindo(a) ao chatPro!"
                  },
                  "desc": {
                    "type": "string",
                    "description": "Para o envio de imagens e documentos pode adicionar uma descrição que será enviada abaixo do arquivo"
                  },
                  "file_type": {
                    "type": "string",
                    "description": "Tipo do arquivo enviado, ex.: image"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/shortcuts/delete": {
      "post": {
        "summary": "Delete",
        "description": "Deleta uma resposta rápida",
        "operationId": "shortcuts-delete",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "shortcutId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "shortcutId": {
                    "type": "string",
                    "description": "Id da resposta rápida"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/departments/create": {
      "post": {
        "summary": "Create",
        "description": "Cria um departamento",
        "operationId": "departments-create",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "name"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do departamento"
                  },
                  "welcomeMessage": {
                    "type": "string",
                    "description": "Mensagem de boas vindas que será enviada quando um cliente é enviado para o departamento"
                  },
                  "endingTag": {
                    "type": "string",
                    "description": "Id do motivo de finalização quando uma sessão for enviado para o departamento, será finalizada automaticamente"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/departments/getDepartmentById": {
      "post": {
        "summary": "Get department by id",
        "description": "Busca um departamento pelo id",
        "operationId": "departments-getdepartmentbyid",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "departmentId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "departmentId": {
                    "type": "string",
                    "description": "Id do departamento"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/departments/list": {
      "post": {
        "summary": "List",
        "description": "Lista todos os departamentos da instância",
        "operationId": "departments-list",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/departments/getUsersInDepartment": {
      "post": {
        "summary": "Get users in department",
        "description": "Busca todos os usuários vinculados ao departamento",
        "operationId": "departments-getusersindepartment",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "departmentId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "departmentId": {
                    "type": "string",
                    "description": "Id do departamento"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/departments/edit": {
      "post": {
        "summary": "Update",
        "description": "Atualiza um departamento",
        "operationId": "create-copy-copy",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "departmentId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "departmentId": {
                    "type": "string",
                    "description": "Id do departamento"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do departamento"
                  },
                  "welcomeMessage": {
                    "type": "string",
                    "description": "Mensagem de boas vindas que será enviada quando um cliente é enviado para o departamento"
                  },
                  "endingTag": {
                    "type": "string",
                    "description": "Id do motivo de finalização quando uma sessão for enviado para o departamento, será finalizada automaticamente"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/tags/create": {
      "post": {
        "summary": "Create",
        "description": "Cria uma etiqueta",
        "operationId": "tags-create",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "name",
                  "color"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome da etiqueta"
                  },
                  "color": {
                    "type": "string",
                    "description": "Cor da etiqueta em hexadecimal, ex.: #089186"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/tags/getTagById": {
      "post": {
        "summary": "Get tag by id",
        "description": "Busca uma etiqueta pelo id",
        "operationId": "tags-gettagbyid",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "tagId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "tagId": {
                    "type": "string",
                    "description": "Id da etiqueta"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/tags/listLeadsByTag": {
      "post": {
        "summary": "List leads by tag",
        "description": "Lista os leads vinculados a etiqueta",
        "operationId": "tags-listleadsbytag",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "tagId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "tagId": {
                    "type": "string",
                    "description": "Id da etiqueta"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/tags/update": {
      "post": {
        "summary": "Update",
        "description": "Atualiza a etiqueta",
        "operationId": "tags-update",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "tagId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "tagId": {
                    "type": "string",
                    "description": "Id da etiqueta"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome da etiqueta"
                  },
                  "color": {
                    "type": "string",
                    "description": "Cor da etiqueta em hexadecimal, ex.: #089186"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/leads/create": {
      "post": {
        "summary": "Create",
        "description": "Cria um lead",
        "operationId": "leads-create",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "number"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "number": {
                    "type": "string",
                    "description": "Telefone do lead"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome personalizado do lead"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Informações adicionais"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/leads/update": {
      "post": {
        "summary": "Update",
        "description": "Atualiza um lead",
        "operationId": "leads-update",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "leadId",
                  "name"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "leadId": {
                    "type": "string",
                    "description": "Id do lead"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome personalizado"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Informações adicionais"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/leads/findLabels": {
      "post": {
        "summary": "Get tags by lead id",
        "description": "Lista as etiquetas vinculadas a um lead",
        "operationId": "leads-findlabels",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "leadId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "leadId": {
                    "type": "string",
                    "description": "Id do lead"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/leads/findById": {
      "post": {
        "summary": "Get lead by id",
        "description": "Busca um lead pelo id",
        "operationId": "leads-findbyid",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "leadId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "leadId": {
                    "type": "string",
                    "description": "Id do lead"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/leads/findByPhoneNumber": {
      "post": {
        "summary": "Get lead by phone number",
        "description": "Busca um lead pelo número de telefone",
        "operationId": "leads-findbyphonenumber",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Número de telefone do lead"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/messages/getAll": {
      "post": {
        "summary": "List all message by session",
        "description": "Lista todas as mensagens de uma sessão",
        "operationId": "messages-getall",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "sessionId",
                  "limit",
                  "offset"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Id da sessão"
                  },
                  "fromMe": {
                    "type": "boolean",
                    "description": "Quem enviou a mensagem"
                  },
                  "limit": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "offset": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/messages/sendFileFromUrl": {
      "post": {
        "summary": "Send file from URL",
        "description": "Envia um arquivo a partir de uma URL",
        "operationId": "messages-sendfilefromurl",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "sessionId",
                  "url",
                  "provider"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Id da sessão"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL do arquivo"
                  },
                  "provider": {
                    "type": "string",
                    "description": "Provider de envio, ex.: cloud"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Para o envio de imagens e documentos pode adicionar uma descrição que será enviada abaixo do arquivo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/messages/sendMessage": {
      "post": {
        "summary": "Send message",
        "description": "Envia uma mensagem de texto",
        "operationId": "messages-sendmessage",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "sessionId",
                  "provider",
                  "message"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Id da sessão"
                  },
                  "provider": {
                    "type": "string",
                    "description": "Provider de envio, ex.: cloud"
                  },
                  "message": {
                    "type": "string",
                    "description": "Texto da mensagem a ser enviado"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/messages/sendContact": {
      "post": {
        "summary": "Send Contact",
        "description": "Lista todas as mensagens de uma sessão",
        "operationId": "messages-sendcontact",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "sessionId",
                  "provider",
                  "contactName",
                  "contactNumber"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Id da sessão"
                  },
                  "provider": {
                    "type": "string",
                    "description": "Provider de envio, ex.: cloud"
                  },
                  "contactName": {
                    "type": "string",
                    "description": "Nome do contato"
                  },
                  "contactNumber": {
                    "type": "string",
                    "description": "Número de telefone do contato"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/messages/readMessages": {
      "post": {
        "summary": "Read message",
        "description": "Marca as mensagens de uma sessão como lidas",
        "operationId": "messages-readmessages",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "sessionId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Id da sessão"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sessions/getOrCreateByNumber": {
      "post": {
        "summary": "Get or create session by number",
        "description": "Busca ou cria uma nova sessão a partir de um número de telefone",
        "operationId": "get-or-create-session-by-number",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "provider",
                  "number"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "provider": {
                    "type": "string",
                    "description": "Provider de envio, ex.: cloud"
                  },
                  "number": {
                    "type": "string",
                    "description": "Número de telefone do lead"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sessions/getSessionById": {
      "post": {
        "summary": "Get session by id",
        "description": "Busca uma sessão pelo id",
        "operationId": "sessions-getsessionbyid",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "sessionId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Id da sessão"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sessions/list": {
      "post": {
        "summary": "List",
        "description": "Lista as sessões",
        "operationId": "sessions-list",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "open": {
                    "type": "boolean",
                    "description": "Status da sessão, ex.: open = false, buscará apenas as sessões finalizadas"
                  },
                  "start": {
                    "type": "string",
                    "description": "Data inicial da busca, ex.: 2024-03-23T18:48:30.816008+01:00"
                  },
                  "end": {
                    "type": "string",
                    "description": "Data final da busca, ex.: 2024-03-23T18:48:30.816008+01:00"
                  },
                  "endingTag": {
                    "type": "string",
                    "description": "Id do motivo de finalização"
                  },
                  "userId": {
                    "type": "string",
                    "description": "Id de um usuário da instância"
                  },
                  "departmentId": {
                    "type": "string",
                    "description": "Id de um departamento da instância"
                  },
                  "leadId": {
                    "type": "string",
                    "description": "Id de um lead"
                  },
                  "limit": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "offset": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sessions/listFromLead": {
      "post": {
        "summary": "List from lead",
        "description": "Busca as sessões de um lead",
        "operationId": "sessions-listfromlead",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "leadId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "leadId": {
                    "type": "string",
                    "description": "Id do lead"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sessions/assignTo": {
      "post": {
        "summary": "Assign to user",
        "description": "Atribui uma sessão a um usuário",
        "operationId": "sessions-assignto",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "sessionId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Id da sessão"
                  },
                  "userId": {
                    "type": "string",
                    "description": "Id do usuário da instância"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sessions/assignDepartment": {
      "post": {
        "summary": "Assign to department",
        "description": "Atribui uma sessão a um departamento",
        "operationId": "sessions-assigndepartment",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "sessionId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Id da sessão"
                  },
                  "department_id": {
                    "type": "string",
                    "description": "Id do departamento"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sessions/finish": {
      "post": {
        "summary": "Finish",
        "description": "Finaliza uma sessão aberta",
        "operationId": "sessions-finish",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "sessionId",
                  "endingId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Id da sessão"
                  },
                  "endingId": {
                    "type": "string",
                    "description": "Id do motivo de finalização"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/endings/create": {
      "post": {
        "summary": "Create",
        "description": "Cria um motivo de finalização",
        "operationId": "endings-create",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "name"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do motivo de finalização"
                  },
                  "message": {
                    "type": "string",
                    "description": "Mensagem que será enviada automaticamente ao finalizar uma sessão"
                  },
                  "npsOverride": {
                    "type": "string",
                    "description": "Opção de envio do NPS",
                    "default": "default"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/endings/list": {
      "post": {
        "summary": "List",
        "description": "Lista os motivos de finalização",
        "operationId": "endings-list",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/endings/getEndingById": {
      "post": {
        "summary": "Get ending by id",
        "description": "Busca um motivo de finalização pelo id",
        "operationId": "endings-getendingbyid",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "endingId": {
                    "type": "string",
                    "description": "Id do motivo de finalização"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/endings/update": {
      "post": {
        "summary": "Update",
        "description": "Atualiza um motivo de finalização",
        "operationId": "endings-update",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "endingId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "endingId": {
                    "type": "string",
                    "description": "Id do motivo de finalização"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do motivo de finalização"
                  },
                  "message": {
                    "type": "string",
                    "description": "Mensagem que será enviada automaticamente ao finalizar uma sessão"
                  },
                  "npsOverride": {
                    "type": "string",
                    "description": "Opção de envio do NPS"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/users/getUserById": {
      "post": {
        "summary": "Get user by id",
        "description": "",
        "operationId": "get-user-by-id",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "userId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "userId": {
                    "type": "string",
                    "description": "Id do usuário"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/users/getAllInstanceUsers": {
      "post": {
        "summary": "Get all users by instance",
        "description": "",
        "operationId": "get-all-users-by-instance",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Status do usuário se está ativo na instância"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/users/editInstanceUser": {
      "post": {
        "summary": "Edit user",
        "description": "Atualiza os dados de um usuário",
        "operationId": "edit-user",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "userId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "userId": {
                    "type": "string",
                    "description": "Id do usuário"
                  },
                  "role": {
                    "type": "string",
                    "description": "O tipo de usuário da instância"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do usuário"
                  },
                  "publicDepartment": {
                    "type": "boolean",
                    "description": "Acesso aos departamentos públicos",
                    "default": false
                  },
                  "closedSessions": {
                    "type": "boolean",
                    "description": "Acesso as sessões fechadas",
                    "default": false
                  },
                  "deleteMessage": {
                    "type": "boolean",
                    "description": "Permissão para deletar uma mensagem enviada",
                    "default": false
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Status do usuário na instância",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/waba/register": {
      "post": {
        "summary": "Register",
        "description": "",
        "operationId": "register",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "apiVersion",
                  "apiToken",
                  "wabaId",
                  "phoneId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "apiVersion": {
                    "type": "string",
                    "description": "Versão da API da Meta"
                  },
                  "apiToken": {
                    "type": "string",
                    "description": "Token permanente da Meta"
                  },
                  "wabaId": {
                    "type": "string",
                    "description": "Id de identificação da Meta"
                  },
                  "phoneId": {
                    "type": "string",
                    "description": "Id do telefone cadastrado na Meta"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/waba/getTemplates": {
      "post": {
        "summary": "Get templates",
        "description": "Busca os templates da cloud",
        "operationId": "get-templates",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/waba/sendTemplate": {
      "post": {
        "summary": "Send template",
        "description": "Envia um template",
        "operationId": "send-template",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "number",
                  "name",
                  "languageCode"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "number": {
                    "type": "string",
                    "description": "Telefone para envio"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do template"
                  },
                  "languageCode": {
                    "type": "string",
                    "description": "Código da linguagem cadastrado no template, ex.: en"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/widgets/create": {
      "post": {
        "summary": "Create",
        "description": "Cria um widget",
        "operationId": "widgets-create",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "name",
                  "number"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do Widget"
                  },
                  "number": {
                    "type": "string",
                    "description": "Telefone da instância para contato"
                  },
                  "message": {
                    "type": "string",
                    "description": "Mensagem que será apresenta no WhatsApp do cliente ao clicar no botão de Widget do seu site"
                  },
                  "label": {
                    "type": "string",
                    "description": "Nome apresentado no Widget em seu site, ex.: Fale conosco"
                  },
                  "color": {
                    "type": "string",
                    "description": "Cor do botão em hexadecimal, ex.: #089186"
                  },
                  "position": {
                    "type": "string",
                    "description": "Posição do Widget"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/widgets/update": {
      "post": {
        "summary": "Update",
        "description": "Atualiza um widget",
        "operationId": "widgets-update",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "widgetId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "widgetId": {
                    "type": "string",
                    "description": "Id do Widget"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do Widget"
                  },
                  "message": {
                    "type": "string",
                    "description": "Mensagem que será apresenta no WhatsApp do cliente ao clicar no botão de Widget do seu site"
                  },
                  "label": {
                    "type": "string",
                    "description": "Nome apresentado no Widget em seu site, ex.: Fale conosco"
                  },
                  "color": {
                    "type": "string",
                    "description": "Cor do botão em hexadecimal, ex.: #089186"
                  },
                  "position": {
                    "type": "string",
                    "description": "Posição do Widget"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/widgets/getWidgetById": {
      "post": {
        "summary": "Get widget by id",
        "description": "Busca um Widget pelo id",
        "operationId": "widgets-getwidgetbyid",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId",
                  "widgetId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  },
                  "widgetId": {
                    "type": "string",
                    "description": "Id do widget"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/widgets/list": {
      "post": {
        "summary": "List",
        "description": "Busca os widgets da instância",
        "operationId": "widgets-list",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instanceId"
                ],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "Código da instância"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/leads/assignLabel": {
      "post": {
        "summary": "Assign label",
        "description": "Adicionar uma etiqueta ao lead.",
        "operationId": "assign-label",
        "parameters": [
          {
            "name": "instance-token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "instanceId": {
                    "type": "string",
[...]
